body {
    background: linear-gradient(to right, #170e13, #7a7adb);
}
h1 {
    text-align: center;
    color: white;
}
#contact-form {
    margin: auto;
    display: block;
    width: 300px;
    height: 380px;
    border-radius: 5px;
    padding: 20px;
}
.form-row {
    margin-bottom: 10px;
}
.form-input {
    display: block;
    width: 290px;
    height: 20px;
}
#contact-form-message {
    margin-bottom: 10px;
    width: 295px;
    height: 100px;
}
.form-sub {
    background-color: lightblue;
    width: 299px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    display: block;

}

#contact-form {
    background-color: whitesmoke;
}